<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>
      Connect Patient Experience - {% block title %}{% endblock %} | AppSeed
    </title>

    <link href="/static/assets/style.css" rel="stylesheet">

  </head>
  <body class="app">

    {% block content %}{% endblock content %}  
  
    <script type="text/javascript" src="/static/assets/vendor.js"></script>
    <script type="text/javascript" src="/static/assets/bundle.js"></script>
    <script type="text/javascript" src="/static/assets/plotly-2.9.0.min.js"></script>
    <script type="text/javascript" src="/static/assets/JS/appointment.js"></script>
    <script type="text/javascript" src="/static/assets/JS/medication.js"></script>
    <script type="text/javascript" src="/static/assets/JS/profileimg.js"></script>
    <script type="text/javascript" src="/static/assets/JS/profileinfo.js"></script>
  </body>
</html>
